body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.slider-container {
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
}

.slide {
    min-width: 100vw; /* Imposta la larghezza del div in modo che ne sia visibile solo uno alla volta */
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}

/* Altri stili possono essere aggiunti a seconda delle esigenze del design */
